html,body 
	margin: 0
	padding: 0
	width: 100%
	height: 100%
	user-select: none
@font-face 
	font-family: 'montserrat-extra-light'
	src: url('../fonts/montserrat/Montserrat-ExtraLight.ttf')
	font-weight: 200
	font-style: normal
@font-face 
	font-family: 'montserrat-light'
	src: url('../fonts/montserrat/Montserrat-Light.ttf')
	font-weight: 300
	font-style: normal
@font-face 
	font-family: 'montserrat-regular'
	src: url('../fonts/montserrat/Montserrat-Regular.ttf')
	font-weight: 400
	font-style: normal
@font-face 
	font-family: 'montserrat-medium'
	src: url('../fonts/montserrat/Montserrat-Medium.ttf')
	font-weight: 500
	font-style: normal
@font-face 
	font-family: 'montserrat-semi-bold'
	src: url('../fonts/montserrat/Montserrat-SemiBold.ttf')
	font-weight: 600
	font-style: normal
.montserrat-extra-light
	font-family: 'montserrat-extra-light'
.montserrat-light
	font-family: 'montserrat-light'
.montserrat-regular
	font-family: 'montserrat-regular'
.montserrat-medium
	font-family: 'montserrat-medium'
.montserrat-semi-bold
	font-family: 'montserrat-semi-bold'
.text-white
	color: white
.text-center
	text-align: center
.d-flex
	display: flex
.justify-content-between
	justify-content: space-between
.align-self-start
	align-self: flex-start
.align-items-center
	align-items: center
.text-left
	text-align: left
.ml-auto
	margin-left: auto





.wrapper
	background-image: url("../img/wrapper.png")
	background-size: cover
	background-attachment: fixed
	background-repeat: no-repeat
	width: 100%
	height: 100%
	padding-top: 5rem
	padding-bottom: 0
.tablet
	width: 1077px
	height: 742px
	background: #232A32
	border: 2px solid #FFFFFF
	box-sizing: border-box
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
	border-radius: 40px
	margin: 0 auto 
	display: flex
	justify-content: center
	align-items: center
.tablet-screen
	width: 1027px
	height: 696px
	background-color: #181A1C
	border-radius: 20px



.tablet-top
	color: white
	display: flex
	height: 34px
	margin-top: 0.5rem
	justify-content: space-between
.tablet-wifi,.tablet-battery
	display: flex
	align-items: center	
	font-size: 18px
	line-height: 18px
.tablet-time
	font-weight: 300
	font-size: 24px
	line-height: 29px
	position: absolute
	top: .8rem
	left: 50%
	transform: translateX(-50%)
.tablet-wifi p 
	margin-left: 0.7rem
.tablet-battery p 
	margin-right: 0.7rem



.main-page
	background: url("../img/tablet-theme.png")
	background-size: cover
	width: 100%
	height: 100%
	box-sizing: border-box
	border-radius: 20px
	padding: .75rem 1.5rem
.main-page .tablet-time
	font-size: 4rem
.table-date
	margin-top: 3.5rem
	font-size: 1.5rem
	font-weight: 200




.main-apps
	width: 424px
	height: 93px
	background: rgba(0, 0, 0, 0.45)
	border-radius: 15px
	display: flex
	align-items: center
	justify-content: space-evenly
	position: absolute
	left: 50%
	transform: translateX(-50%)
	bottom: 3rem
.main-app-link
	text-decoration: none
	display: flex
	flex-direction: column
	align-items: center
	transition: .3s
.main-apps .fa
	color: white
	width: 60px
	height: 60px
	border-radius: 15px
	font-size: 32px
	display: flex
	align-items: center
	justify-content: center
.main-apps .fa-home
	background: #4CD137
.main-apps .fa-shopping-bag
	background: #FBC531
.main-apps .fa-shopping-cart
	background: #00A8FF
.main-apps .fa-users
	background: #E84118
.main-apps .fa-gear
	background: #353B48
.main-app-link:hover
	transform: scale(1.1)
.main-app-title
	font-size: 12px











.top-property-navigation
	border-bottom: 1px solid rgba(218, 218, 218, 0.35)
	margin-bottom: 25px
.top-property-navigation a 
	text-decoration: none
	padding: 0 1rem 14px
.fa.fa-angle-left
	color: #4595ED
	margin-right: .5rem
	font-size: 1.5rem
	vertical-align: bottom


.property-page
	padding: 30px
	background: #181A1C
	height: 696px
	box-sizing: border-box
	border-radius: 20px



.property-home-banner
	width: 100%
	height: 220px
	border-radius: 15px 15px 0px 0px
	background: url('../img/tablet-images/property-home-banner.png')
	background-size: cover
	padding-top: 131px
	padding-left: 30px
	box-sizing: border-box
	margin-bottom: 25px
.property-home-title
	font-weight: 500
	margin: 0
	font-size: 2rem
.property-home-intro
	margin: 0
	font-size: 1rem
	font-weight: 200


.property-home-address
	width: 336px
	& p 
		font-size: 1.5rem
		margin: 0
		margin-bottom: 25px
.width-161
	width: 161px
	color: #878B96

	




.property-home-roommates
	margin-right: 30px
.property-home-roommates p 
	font-size: 1.5rem
	margin: 0
	height: 32px
	margin-bottom: 11px
.roommates-title
	padding-bottom: 25px
	margin-bottom: 0 !important
	color: #878B96
.evict-button
	font-size: 18px
	padding: 5px
	background: #4595ED
	border-radius: 5px
.width-179
	width: 179px


.state-price
	font-weight: 500
	margin: 0
	font-size: 1.5rem
	position: relative
	&::after
		content: 'Гос.цена'	
		font-size: 1rem
		position: absolute
		font-family: 'montserrat-extra-light'
		font-weight: 200
		left: 50%
		transform: translateX(-50%)
		bottom: 100%






.profile-home-buttons
	width: 626px
	margin: 14px auto 0
.profile-home-button
	width: 308px
	height: 50px
	box-sizing: border-box
	border: 1px solid #4595ED
	border-radius: 5px
	background: #181A1C
	font-size: 18px
	transition: .3s
	cursor: pointer
	&:hover
		background-color: #4595ED



	

.property-transports
	width: 910px
	margin: 0 auto
	height: 597px
	box-sizing: border-box
	overflow: auto
	&::-webkit-scrollbar
		display: none
.property-transport
	width: 430px
	height: 325px
	box-sizing: border-box
	border-radius: 10px
	background: #23272A
	float: left
	margin: 0 50px 50px 0
	&:nth-child(2n+0)
		margin-right: 0
.property-transport-banner
	background-image: url("../img/tablet-images/property-transport-banner.png")
	background-size: cover 
	height: 209px
	position: relative
	& .numbers
		left: 18px
	& .price
		right: 18px
.property-transport-seria
	font-weight: 300
	width: 127px
	height: 35px
	background: #4595ED
	display: flex
	justify-content: center
	align-items: center 
	border-radius: 5px
	position: absolute
	margin: 0
	left: 9px
	top: 9px
	font-size: 18px
.property-transport-desc
	color: #878B96
	font-size: 18px
	position: absolute
	bottom: 0


.property-transport-info
	width: 393px
	margin: 0 auto
	position: relative
	& span
		font-size: 1.5rem
		height: 29px
	&::after
		content:''
		width: 395px
		height: .5px
		background-image: linear-gradient(to right,transparent, #C4C4C4,transparent )
		position: absolute
		left: 0
		bottom: -13px






.property-transport-buttons
	width: 393px
	margin: 25px auto 0
.property-transport-button
	width: 187px
	height: 50px
	background: #4595ED
	border: none
	font-size: 18px
	border-radius: 5px
	cursor: pointer






.property-business-banner
	background: url('../img/tablet-images/property-business-banner.png')
	height: 220px
	width: 963px
	position: relative
	box-sizing: border-box
	padding-left: 26px
	padding-bottom: 0
	background-repeat: no-repeat


.property-business-state
	background: #4595ED
	border-radius: 5px
	width: 126px
	height: 50px
	border: none
	position: absolute
	top: 30px
	right: 30px
	font-size: 18px
	cursor: pointer
.property-business-intro,.property-business-title
	margin: 0
.property-business-intro
	padding-top: 131px
	font-weight: 200
	font-size: 1rem
.property-business-title
	font-weight: 500
	font-size: 2rem





.property-business-description
	position: relative
	& .first-line
		height: 342px
		width: 1px
		background-image: linear-gradient(to bottom,transparent,#878B96,transparent)
		position: absolute
		top: 0
		left: 467px
	& .second-line
		height: 342px
		width: 1px
		background-image: linear-gradient(to bottom,transparent,#878B96,transparent)
		position: absolute
		top: 0
		right: 123px





.property-business-info 
	width: 424px
	& .info
		color: #878B96
		font-size: 1.5rem
		font-family: "montserrat-light"
		margin: 0
		margin-bottom: 20px
	& p 
		font-size: 24px
		font-family: 'montserrat-medium'
		margin: 0
		margin-bottom: 20px
	& span
		width: 286px
		font-family: "montserrat-regular"


.property-business-button
	font-size: 18px
	background: #4595ED
	border-radius: 5px
	width: 162px
	height: 50px
	border: none
	box-sizing: border-box
	margin-top: 12px
	cursor: pointer
.property-business-info-price
	font-weight: 500
	margin-top: 10px
	font-size: 1.5rem








.property-business-history 
	width: 460px
	margin-left: 73px
	& .history
		color: #878B96
		font-size: 1.5rem
		font-family: "montserrat-light"
		margin: 0
		margin-bottom: 20px
	& .state
		color: #878B96
		font-size: 18px
		margin-bottom: 17px
		& .naimen
			width: 240px
		& .cena
			width: 150px
	& .products
		height: 280px
		overflow: auto
		&::-webkit-scrollbar
			display: none
	& .product
		margin-bottom: 20px
	& .product-name	
		font-size: 1.5rem
		width: 210px
	& .product-price
		background: #4595ED
		border: none
		color: white
		width: 108px
		height: 50px
		font-size: 18px
		margin-right: 81px
		border-radius: 5px
		cursor: pointer
		outline: none
	& .product-quantity
		font-size: 18px








.report-page
	width: 100%
	height: 100%
	border-radius: 20px
	box-sizing: border-box
	padding: 1rem 1.5rem
	background: #181A1C
	position: relative
	overflow: hidden
	& .tablet-top
		margin-top: 0
	& .top-property-direction
		text-decoration: none
		text-align: right
		display: block
		margin-top: 25px




.aside-menu
	flex-direction: column
	margin-top: 18px
	width: 255px
	height: 515px
	margin-right: 0
	position: relative
	padding-top: 1rem
	& a 
		text-decoration: none
		font-size: 18px
		border-radius: 5px
		box-sizing: border-box
		width: 200px
		height: 50px
		display: flex
		padding-left: 25px
		align-items: center
		margin-bottom: 1rem
	& .aside-link-active
		background-color: #4595ED
	& .aside-menu-line
		height: 515px
		width: 1px
		position: absolute
		background-image: linear-gradient(to bottom,transparent,#C4C4C4,transparent)
		right: 2rem
		top: 0





.report-crosses
	position: absolute
	right: 1rem
	bottom: 1rem
.background-radial-theme
	width: 1127px
	height: 1027px
	position: absolute
	z-index: 4
	background-image: radial-gradient(#4596ed5d 10%,transparent 60%)
	top: 0
	top: 60%
	left: 50%
	transform: translateX(-50%)



.send-report-block
	position: absolute
	width: 595px
	top: 150px
	right: 55px
	z-index: 10
	& .send-report-title
		font-weight: 500
		margin-bottom: 68px
	& .send-report-text
		width: 595px
		box-sizing: border-box
		resize: none
		background: rgba(0, 0, 0, 0.3)
		border-radius: 5px
		border: none
		height: 249px
		color: rgba(255, 255, 255, 0.3)
		padding: 18px 23px
		font-size: 18px
		font-family: 'montserrat-light'
	& .send-report-button
		width: 200px
		height: 50px
		background: #4595ED
		color: white
		border: none
		font-size: 18px
		display: block
		margin: 2rem auto 0
		cursor: pointer
		border-radius: 5px



.reports-list
	position: absolute
	top: 150px
	right: 71px
	width: 595px
	z-index: 10
.reports-list-title
	font-size: 1.5rem
	margin: 0
	margin-bottom: 68px
.report-item
	width: 595px
	height: 60px
	padding: 0 50px
	box-sizing: border-box
	color: white
	font-family: 'montserrat-light'
	font-size: 1.5rem
	background: rgba(0, 0, 0, 0.5)
	border-radius: 5px
	align-items: center
	margin-bottom: 30px
	position: relative
	&::after
		content: ''
		width: 1px
		height: 60px
		background: rgba(255, 255, 255, 0.3)
		border-radius: 15px
		position: absolute
		top: 0
		left: 50%
	& .report-item-state
		cursor: pointer




.chat-report
	position: absolute
	top: 150px
	right: 71px
	width: 595px
	z-index: 10
	& .send-report-button
		width: 200px
		height: 50px
		background: #4595ED
		color: white
		border: none
		font-size: 18px
		display: block
		margin: 1.5rem auto 0
		cursor: pointer
		border-radius: 5px
	& .chat-report-title
		font-size: 1.5rem
		font-weight: 500
		margin-top: 0
		margin-bottom: 1.5rem
	& .chat-report-block
		width: 595px
		height: 221px
		background: rgba(0, 0, 0, 0.3)
		border-radius: 5px
		box-sizing: border-box
		padding: 1.25rem
		overflow: auto
		&::-webkit-scrollbar
			display: none
		& .chat-report-item
			width: 302px
			box-sizing: border-box
			margin-bottom: 22px
			& div
				font-size: 14px
				width: 302px
				margin-bottom: .5rem 
			& .time
				color: rgba(255, 255, 255, 0.3)
			& .chat-report-text
				font-size: 18px
				
				
.status
	border-radius: 5px
	width: 122px
	height: 21px
	display: inherit
	justify-content: center
	align-items: center
.citizen
	background: #4595ED
.admin
	background: #F73333
.chat-report-message
	margin-top: 1.5rem
	width: 595px
	height: 60px
	box-sizing: border-box
	resize: none
	background: rgba(0, 0, 0, 0.3)
	border-radius: 5px
	border: none
	color: rgba(255, 255, 255, 0.3)
	font-size: 18px
	padding: 1.2rem









.fraction-page
	width: 100%
	height: 100%
	border-radius: 20px
	box-sizing: border-box
	padding: 1rem 1.5rem
	background: #181A1C
	position: relative
	overflow: hidden
	& .tablet-top
		margin-top: 0
	& .top-property-direction
		text-decoration: none
		text-align: right
		display: block
		margin-top: 25px
	& .tablet-time
		margin: 0
.fraction-title
	font-weight: 300
	margin: 0
	font-size: 2rem
	margin-top: -1.2rem
	& span
		font-weight: 500




.coffers-page
	width: 425px
	position: absolute
	top: 179px
	right: 196px
	box-sizing: border-box
.coffers-title
	margin-top: 0
	font-weight: 500
	margin-bottom: 68px
.coffers-value
	font-size: 500px
	font-size: 1.5rem
	border: 1px solid #4595ED
	box-sizing: border-box
	border-radius: 5px
	padding: 11px 0 10px
	margin-bottom: 37px
.coffers-buttons
	width: 100%
	& .coffers-button
		width: 200px
		height: 50px
		box-sizing: border-box
		background: #4595ED
		border-radius: 5px
		cursor: pointer
		border: none
		font-size: 18px







.range-page
	width: 704px
	box-sizing: border-box
	z-index: 10
	position: absolute
	top: 154px
	left: 301px




.range-block
	width: 376px
.range-titles
	width: 376px
	box-sizing: border-box
	height: 50px
	& span
		font-size: 1.5rem
.range-list
	margin-top: .5rem
	width: 376px
	height: 464px
	box-sizing: border-box
	overflow: auto
	&::-webkit-scrollbar
		display: none
.range-item
	width: 376px
	height: 50px
	box-sizing: border-box
	font-size: 18px
	padding: 14px
	border-radius: 5px
	margin-bottom: 0.5rem
	position: relative
	&::after
		position: absolute
		content: ''
		width: 376px
		height: 1px
		top: 100%
		background-image: linear-gradient(to right,transparent,#C4C4C4,transparent) 
.range-item-active
	background: #4595ED






.range-title
	font-size: 1.5rem
	font-weight: 300
	margin: 0
	width: 261px
	height: 50px
	display: flex
	justify-content: center
	align-items: center
	margin-bottom: 20px
.range-changing
	margin-bottom: 25px
.range-change
	background: #4595ED
	border-radius: 5px
	border: none
	width: 127px
	height: 50px
	font-size: 18px
.modify-buttons
	width: 261px
.modify-button
	background: #4595ED
	width: 261px
	height: 50px
	border: none
	font-size: 18px
	border-radius: 5px
	margin-bottom: 25px










.alert-page
	width: 595px
	position: absolute
	top: 179px
	right: 111px
.alert-title
	font-size: 1.5rem
	font-weight: 500
	margin: 0
	margin-bottom: 68px
.alert-text
	width: 595px
	height: 249px
	border-radius: 5px
	box-sizing: border-box
	border: 1px solid #4595ED
	background-color: transparent
	padding: 18px
	font-size: 18px
	margin-bottom: 42px
.notify-button
	width: 200px
	height: 50px
	background: #4595ED
	font-size: 18px
	border: none
	border-radius: 5px
	display: block
	margin: 0 auto




.challenges-page
	margin-top: 53px
	padding-left: 33px
	padding-right: 33px
.challenge-title	
	color: #878B96
	font-size: 18px
	margin-bottom: 0
.challenge-search
	margin-top: 24px
	width: 910px
	border: 1px solid #4595ED
	height: 50px
	border-radius: 5px
	& .fa.fa-search
		color: rgba(135, 139, 150, 0.15)
		font-size: 1.5rem
		padding: 13px 25px
		cursor: pointer
.challenge-input
	height: 100%
	box-sizing: border-box
	border: none
	background: transparent
	color: rgba(135, 139, 150, 0.25)
	font-size: 18px
	padding-left: 25px
	flex-grow: 1
	outline: none
.challenge-buttons
	margin-top: 35px
	width: 910px
	box-sizing: border-box
.challenge-button
	background: #4595ED
	border-radius: 5px
	width: 150px
	height: 50px
	border: none
	font-size: 18px
.challenge-titles
	margin-top: 44px
	margin-bottom: 9px
	& span
		font-size: 1.5rem
	& .type
		width: 225px
	& .sent
		width: 257px
.challenges-list
	width: 910px
	height: 184px
	overflow: auto
	position: relative
	z-index: 20
	&::-webkit-scrollbar
		display: none
.challenge-item
	width: 910px
	padding: 13px 0 8px
	position: relative
	&::after
		content: ''
		width: 910px
		height: 1px
		position: absolute
		top: 100%
		background-image: linear-gradient(90deg,transparent,#C4C4C4,transparent)
	& span
		font-size: 18px
	& .time
		width: 225px
	& .name
		width: 260px
	& .distance
		width: 280px
	& .take
		background: #4595ED	
		border-radius: 5px
		width: 150px
		height: 40px
		display: inherit
		justify-content: center
		align-items: center